RewriteEngine On
# Prevent direct access to files
RewriteRule ^app/ - [F,L]
RewriteRule ^vendor/ - [F,L]
RewriteRule ^storage/ - [F,L]

# Allow direct access to assets
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirect all other requests to index.php
RewriteRule ^(.*)$ index.php [QSA,L] 